* {
  box-sizing: border-box;
}

/* @font-face {
    font-family: "Poke";
    src: url(fonts/Pokemon\ Solid.ttf);
  } */

@font-face {
  font-family: "Poke";
  src: url(fonts/PokemonGb-RAeo.ttf);
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Poke", sans-serif;
  font-weight: 400;
  background-color: #f5f6f7;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #2a75bb;
  color: #fff;
  border-bottom: 4px solid #f7ce48;
  line-height: 1.5;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
}

.row div img {
  width: 100%;
  background-color: #cecccc;
  border-radius: 30px;
  max-width: 300px;
  object-fit: cover;
  padding-bottom: 50px;
}

.container {
  position: relative;
}

/* .container p{
    position: absolute;
    top: 87.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 20px;
    background-color: #f7ce48;
    padding: 10px 115px;
    max-width: 315px;
} */

.container p {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif, serif;
  font-size: 20px;
  background-color: #f7ce48;
  /* padding: 10px 115px; */
  padding-top: 10px;
  text-align: center;
  height: 40px;
  width: 100%;
  border-radius: 0 0 30px 30px;
}

.row::after {
  content: "";
  width: 300px;
}

.row a {
  text-decoration: none;
  color: black;
}

.container p:hover {
  background-color: #e7b81d;
  cursor: pointer;
}

.container p:active {
  background-color: #f7ce48;
}

.container img{
    height: 475;
    width: 475;
}

footer {
  font-size: 12px;
  color: #1D5586;
  text-align: center;
  padding-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: #1D5586;
}

footer small {
  font-size: 9px;
}
